[program:main_project]
web: gunicorn main_project.wsgi
command=/path/to/venv/bin/gunicorn main_project.wsgi:application --bind 127.0.0.1:8000
directory=/path/to/your/main_project
user=kathhulasampathkumar
autostart=true
autorestart=true
stderr_logfile=/var/log/main_project.err.log
stdout_logfile=/var/log/main_project.out.log
