
{% load static %}

{%block content%}

<div class="fixed-bottom p-0" >
    <nav class="navbar navbar-expand-sm p-0  " style="background-color: #adb889;"> 
        <!-- safe style  style="background-color: #DFE5CB;"-->
        <div class="container-fluid px-0 m-0 p-0">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footer_section_bootstrap">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse m-0 p-0 footer_section_bootstrap" id="footer_section_bootstrap">
            <ul class="navbar-nav  footerstyle py-0 ">
              <li class="nav-item dropdown">
                <a class="nav-link  " href="#" >Associate information System</a>|
              </li>
              <li class="nav-item dropdown">                
                <a class="nav-link " href="#">Holidays </a>|                
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#"  >Bus & Canteen committee</a>|
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link  " href="#" >Common Extns/Mail Van</a>|
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="{{CI_BASE_URL}}index.php/leave/get_transport" >Transport </a>|
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" >SAP T-Codes </a>|
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="{{CI_BASE_URL}}index.php/edptracker/raise" >Raise A Request </a>|
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" >KHOJ Datasheet </a>|
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" >Vendor Directory </a>|
              </li>
              {%if  user_id == 903916 or user_id == 900292 or user_id == 901294%}             
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" >HR File(s) </a>|
              </li>     

              
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" >Vision </a>|
              </li>
              {%endif%}
              

              {%if menuItem63.module_name is not None%}
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" >Drawings </a>|
              </li>
              {%endif%}

              <li class="nav-item dropdown">
                <a class="nav-link " href="#" >KPI Dates  </a>|
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="{%url 'index'%}" >{{page_load_time}}  </a>|
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" >System  </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <style>
        .footerstyle > li a {
        color: #800080;
      
        text-decoration: none;
        display: inline;
        /* margin: 1px 2px !important;   */
        font-weight: bold;
        font-size: 11px;
          justify-content: space-between !important;          
        }      
        
        
      </style>



</div>


{%endblock%}